@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ------------------ ROOT VARAIBLES ------------------ */
:root {
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-primary-varient:#111e88;
    --color-dark-varient:#677483;
    --color-background:#f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ------------------ DARK THEME VARAIBLES ------------------ */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #181a1e;
    --color-light: :rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 864px;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
    opacity: 0.6;
}

/* ------------------ 로그인 폼 ------------------*/
.wrapper{
    position: absolute;
    width: 400px;
    height: 440px;
    top: 20%;
    left: 38%;
    z-index: 3;
    background: white;
    opacity: 0.95;
    border: 2px solid rgba(255, 255, 255 .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* 로그인과 회원가입 변경하는 히든 기믹*/
    overflow: hidden; 
    /* scale(0)에 의해서 login 버튼으로 이동*/
    transform: scale(0); 
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

/* wrapper active */
.wrapper.active{
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    /* display: none; */
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color:#162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* ------------------ 로고, 슬로건, 로그인 버튼 ------------------ */

.text-wrap {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 15%;
}
.text-wrap h1{
    font-size: 160px;
    color: var(--color-primary);
    font-weight: 600;
    line-height: 170px;
    text-shadow: 6px 2px 4px rgba(128, 128, 128, 0.63);;
}

.text-wrap button {
    text-decoration: none;
    display: inline-block;
    background: transparent;
    color: var(--color-primary);
    font-size: 24px;
    border: 2px solid var(--color-primary);
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.text-wrap button:hover {
    background: var(--color-primary);
    opacity: 0.8;
    outline: black;
    color: var(--color-white);
    box-shadow: var(--box-shadow)
}

/* ===================== MEDIA QUERIES ===================== */
@media screen and (max-width: 1200px) {
    .container {
       width: 94%;
       height: 864px;
    }

    .text-wrap {
        position: absolute;
        z-index: 3;
        top: 10%;
    }
    .text-wrap h1{
        font-size: 120px;
        font-weight: 600;
        line-height: 140px;
    }
    
    .text-wrap button {
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        padding: 14px 60px;
        border-radius: 50px;
        margin-top: 20px;
    }

    .wrapper{
        top: 20%;
        left: 30%;
    }

}

/* ===================== MEDIA QUERIES ===================== */
@media screen and (max-width: 600px) {
    video {
       width: 100%;
       height: 864px;
    }

    .text-wrap {
        position: absolute;
        z-index: 3;
    }
    .text-wrap h1{
        font-size: 80px;
        line-height: 100px;
        font-weight: 600;
    }
    
    .text-wrap button {
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        padding: 12px 50px;
        border-radius: 50px;
        margin-top: 20px;
    }

    .wrapper{
        top: 10%;
        left: 10%;
    }

}