<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- MATERIAL CON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../css/login.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="contrainer">
        <div class="video-wrap">
            <video src="../images/black_ink_oil.mov" muted autoplay loop></video>
        </div>
        
        <div class="text-wrap">
            <small>Welcome to our</small>
            <h1 class="logo">PINY<br>Catch U</h1>
            <button type="submit" class="btnlogin-popup">Login</button>
        </div>

        <div class="wrapper">
            <span class="icon-close">
                <ion-icon name="close"></ion-icon>
            </span>
    
            <div class="form-box login">
                <h2>Login</h2>
                <form action="/main" method="post">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="text" name="id" required placeholder="ID" autocomplete="off">
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" name="pw" required placeholder="Password">
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>Don't have an account?<a href="#" class="register-link">Register</a></p>
                    </div>
                </form>
            </div>
    
            <div class="form-box register">
                <h2>Registration</h2>
                <form action="/join" method="post">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></ion-icon></span>
                        <input type="text" name="id" id="id" required placeholder="ID" autocomplete="off">
                        <button type="button" id="idCheckButton">아이디 중복 확인</button>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" name="email" id="email" required placeholder="Email" autocomplete="off">
                        <button type="button" id="sendAuthenticationButton">인증번호 전송</button>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="text" name="authentication" id="authentication" required placeholder="이메일을 확인하고 인증번호를 입력하세요" autocomplete="off">
                        <button type="button" id="checkAuthenticationButton">인증번호 확인</button>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" name="pw" required placeholder="Password">
                    </div>
                    <button type="submit" id="register" class="btn">Register</button>
                    <div class="login-register">
                        <p>Already have an account?<a href="#" class="login-link">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script>
        document.getElementById("register").disabled = true;

	    $(document).ready(function() {
	        $('#idCheckButton').click(function(event) {
	            //event.preventDefault(); // 버튼의 기본 동작 중지 (페이지 이동 방지)
                var userId = document.getElementById('id').value;
	
	            // AJAX 요청
	            $.ajax({
	                url: '/idcheck', // 아이디 중복 확인하는 URL
                    data: { id: userId },
	                type: 'POST', // 전송 방식 (POST)
	                success: function(response) {
	                    alert('사용 가능한 아이디입니다.');
	                    // 성공 시 수행할 작업 추가
	                },
	                error: function(xhr, status, error) {
	                    alert('중복된 아이디입니다.');
	                    // 실패 시 수행할 작업 추가
	                }
	            });
	        });
	    });
	</script>
    <script>
        document.getElementById("register").disabled = true;

	    $(document).ready(function() {
	        $('#sendAuthenticationButton').click(function(event) {
	            //event.preventDefault(); // 버튼의 기본 동작 중지 (페이지 이동 방지)
                var userEmail = document.getElementById('email').value;
	
	            // AJAX 요청
	            $.ajax({
	                url: '/sendauthentication', // 이메일 전송을 처리하는 URL
                    data: { email: userEmail },
	                type: 'POST', // 전송 방식 (POST)
	                success: function(response) {
	                    alert('인증번호를 발송했습니다.');
	                    // 성공 시 수행할 작업 추가
	                },
	                error: function(xhr, status, error) {
	                    alert('인증번호 발송 실패');
	                    // 실패 시 수행할 작업 추가
	                }
	            });
	        });
	    });
	</script>
    <script>
        document.getElementById("register").disabled = true;
        document.getElementById("register").classList.add("disabledButton");

	    $(document).ready(function() {
	        $('#checkAuthenticationButton').click(function(event) {
	            //event.preventDefault(); // 버튼의 기본 동작 중지 (페이지 이동 방지)
                var userAuthentication = document.getElementById('authentication').value;
	
	            // AJAX 요청
	            $.ajax({
	                url: '/checkauthentication', // 이메일 전송을 처리하는 URL
                    data: { authentication: userAuthentication },
	                type: 'POST', // 전송 방식 (POST)
	                success: function(response) {
	                    alert(response);
                        document.getElementById("register").disabled=false;
                        document.getElementById("register").classList.remove("disabledButton");
	                    // 성공 시 수행할 작업 추가
	                },
	                error: function(xhr, status, error) {
	                    alert('인증번호를 다시 확인하세요.');
	                    // 실패 시 수행할 작업 추가
	                }
	            });
	        });
	    });
	</script>
</body>
</html>