<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- MATERIAL CON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../css/login.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="contrainer">
        <div class="video-wrap">
            <video src="../images/black_ink_oil.mov" muted autoplay loop></video>
        </div>
        
        <div class="text-wrap">
            <small>Welcome to our</small>
            <h1 class="logo">PINY<br>Catch U</h1>
            <button type="submit" class="btnlogin-popup">Login</button>
        </div>

        <div class="wrapper">
            <span class="icon-close">
                <ion-icon name="close"></ion-icon>
            </span>
    
            <div class="form-box login">
                <h2>로그인</h2>
                <form action="/main" method="post">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="text" name="id" required placeholder="아이디" autocomplete="off">
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" name="pw" required placeholder="패스워드">
                    </div>
                    <button type="submit" class="btn">로그인</button>
                    <div class="login-register">
                        <p>계정이 없으신가요? <a href="#" class="register-link" style="text-decoration-line: underline;">회원가입</a></p>
                    </div>
                </form>
            </div>
    
            <div class="form-box register">
                <h2>회원가입</h2>
                <form action="/join" method="post">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></ion-icon></span>
                        <input type="text" name="id" id="id" required placeholder="아이디" autocomplete="off">
                        <button type="button" id="idCheckButton">중복 확인</button>
                    </div>
                    <div class="input-box">
                        <div id="email-box">
                            <span class="icon"><ion-icon name="mail"></ion-icon></span>
                            <input type="email" name="email" id="email" required placeholder="이메일" autocomplete="off">
                            <span class="email-icon">@</span>
                            <select class="box" id="domain_list">
                                <option value="@naver.com">naver.com</option>
                                <option value="@google.com">google.com</option>
                            </select>
                            <button type="button" id="sendAuthenticationButton">인증번호 전송</button>
                        </div>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="text" name="authentication" id="authentication" required placeholder="이메일 확인 후 인증번호 입력" autocomplete="off">
                        <button type="button" id="checkAuthenticationButton">인증번호 확인</button>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" name="pw" required placeholder="패스워드">
                    </div>
                    <button type="submit" id="register" class="btn">회원가입</button>
                    <div class="login-register">
                        <p>이미 계정을 가지고 계신가요? <a href="#" class="login-link" style="text-decoration-line: underline;">로그인</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script>
        document.getElementById("register").disabled = true;
        document.getElementById("register").classList.add("disabledButton1");
        document.getElementById("register").classList.add("disabledButton2");

	    $(document).ready(function() {
	        $('#idCheckButton').click(function(event) {
	            //event.preventDefault(); // 버튼의 기본 동작 중지 (페이지 이동 방지)
                var userId = document.getElementById('id').value;
	
	            // AJAX 요청
	            $.ajax({
	                url: '/idcheck', // 아이디 중복 확인하는 URL
                    data: { id: userId },
	                type: 'POST', // 전송 방식 (POST)
	                success: function(response) {
	                    alert('사용 가능한 아이디입니다. 아이디 변경 시 변경한 아이디에 대한 중복 확인을 다시 진행해주세요.');
                        document.getElementById("register").classList.remove("disabledButton1");
	                    // 성공 시 수행할 작업 추가
	                },
	                error: function(xhr, status, error) {
	                    alert('중복된 아이디입니다.');
	                    // 실패 시 수행할 작업 추가
	                }
	            });
	        });
	    });

	    $(document).ready(function() {
	        $('#sendAuthenticationButton').click(function(event) {
	            //event.preventDefault(); // 버튼의 기본 동작 중지 (페이지 이동 방지)
                var userEmail = document.getElementById('email').value;
                var domainList = document.getElementById('domain_list').value;
                console.log(domainList);
	
	            // AJAX 요청
	            $.ajax({
	                url: '/sendauthentication', // 이메일 전송을 처리하는 URL
                    data: {
                        email: userEmail,
                        domain: domainList,
                    },
	                type: 'POST', // 전송 방식 (POST)
	                success: function(response) {
	                    alert('인증번호를 발송했습니다.');
	                    // 성공 시 수행할 작업 추가
	                },
	                error: function(xhr, status, error) {
	                    alert('인증번호 발송 실패');
	                    // 실패 시 수행할 작업 추가
	                }
	            });
	        });
	    });

	    $(document).ready(function() {
	        $('#checkAuthenticationButton').click(function(event) {
	            //event.preventDefault(); // 버튼의 기본 동작 중지 (페이지 이동 방지)
                var userAuthentication = document.getElementById('authentication').value;
	
	            // AJAX 요청
	            $.ajax({
	                url: '/checkauthentication', // 인증번호를 비교하는 URL
                    data: { authentication: userAuthentication },
	                type: 'POST', // 전송 방식 (POST)
	                success: function(response) {
	                    alert(response);
                        document.getElementById("register").classList.remove("disabledButton2");
	                    // 성공 시 수행할 작업 추가
	                },
	                error: function(xhr, status, error) {
	                    alert('인증번호를 다시 확인하세요.');
	                    // 실패 시 수행할 작업 추가
	                }
	            });
	        });
	    });
        
        // 두 클래스가 모두 없을 때 disabled 속성을 변경하는 함수
        function toggleDisabled() {
            if (!document.getElementById("register").classList.contains('disabledButton1') && !document.getElementById("register").classList.contains('disabledButton2')) {
                document.getElementById("register").disabled = false; // ID 중복 체크와 인증 절차 통과 시 회원가입 가능
            } else {
                document.getElementById("register").disabled = true; // ID 중복 체크와 인증 절차 중 어느 하나라도 하지 않으면 회원가입 불가능
            }
        }

        // 일정 시간마다 클래스 확인하여 속성 변경
        setInterval(toggleDisabled, 1); // 0.001초마다 요소의 클래스 확인

	</script>
</body>
</html>