<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- MATERIAL CON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../css/storage.css">
</head>
<body>
     <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <a href="/service"><img src="../images/logo.png">
                    <h2>PINY<span class="danger"> Catch U</span></h2></a>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            
            <div class="sidebar">
                <a class="menu-item active" href="/main">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a class="menu-item" href="/mypage">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>My page</h3>
                </a>
                <a class="menu-item"  href="/video">
                    <span class="material-icons-sharp">videocam</span>
                    <h3>Video Streaming</h3>
                </a>
                <a class="menu-item"  href="/storage">
                    <span class="material-icons-sharp">view_list</span>
                    <h3>Video List</h3>
                    <span class="message-count active">26</span>
                </a>
                <a class="menu-item">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Analytics</h3>
                </a>
                <a class="menu-item" href="/chat">
                  <span class="material-icons-sharp">chat</span>
                  <h3>chat</h3>
                </a>
                <a href="/logout">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- ------------ END OF ASIDE ------------ -->
        <main>
            <div class="header-wrapper">
                <div class="header-title">
                    <h1>Video List</h1>
                </div>
                <form action = "search" method = "get">
                <div class="search-box">
                    <span class="material-icons-sharp">search</span>
                    <input type="text" placeholder="Year-Month-day" name="item_name">
                </div>
            </form>
                <div class="top">
                    <button id="menu-btn">
                        <span class="material-icons-sharp">menu</span>
                    </button>
                    <div class="theme-toggler">
                        <span class="material-icons-sharp active">light_mode</span>
                        <span class="material-icons-sharp">dark_mode</span>
                    </div>
                    <div class="profile">
                        <div class="info">
                            <p>Hey, <b th:text="${session.loginMember.id}"></b></p>
                            <small class="text-muted" th:text="${session.loginMember.email}"></small>
                        </div>
                        <div class="profile-photo">
                            <img src="../images/profile2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="recent-video">
                <h2>영상 증거물 업데이트</h2>
                <table>
                    <thead>
                        <tr>
                            <th>기록 번호</th>
                            <th>CCTV 번호</th>
                            <th>금연구역명</th>
                            <th>감지 일시</th>
                            <th>확인 여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="storage : ${session.search_value}">
                            <td th:text="${storage.idx}">storage.idx</td>
                            <td>85631</td>
                            <td><a href="#">노량진역</a></td>
                            <td th:text="${storage.record_start}">storage.record_start</td>
                            <td th:if="${storage.confirmed == 0}" class="primary"><i class="fa-sharp fa-solid fa-circle-xmark"></i><span th:text ="${storage.confirmed}" style="display: none;">storage.confirmed</span></td>
                            <td th:if="${storage.confirmed == 1}"><i class="fa-solid fa-circle-check" style="color: #00ff7b;"></i></td>
                            <td th:text = "${storage.video_path}" style="display: none;">storage.video_path</td>
                            <td>
                               <a th:href="'storage/' + ${storage.video_path}">Play Video</a>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div>
        </main>
        
            
    </div>
    <script src="https://kit.fontawesome.com/f3aa567758.js" crossorigin="anonymous"></script>


       <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../js/index.js"></script>
    
</body>
</html>
