@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ------------------ ROOT VARAIBLES ------------------ */
:root {
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132, 139, 200, 0.18);
    --color-primary-varient:#111e88;
    --color-dark-varient:#677483;
    --color-background:#f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ------------------ DARK THEME VARAIBLES ------------------ */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #181a1e;
    --color-light: :rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    /* appearance: none; */
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

/* logo 종 움직임 */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(to bottom,#9796f0 0%,#ff686b 100%);
    padding: 10px;
    width: 45px;
    height: 45px;
  }
  
  .bellWrapper {
    font-size: 20px;
    color: var(--color-white);
  }
  
  .my-bell {
    transform-origin: top;
    animation: bell 2s infinite linear;
  }
  
  @keyframes bell{
    0%, 50%{
          transform: rotate(0deg);
      }
    5%, 15%, 25%, 35%, 45% {
      transform: rotate(13deg);
    }
    10%, 20%, 30%, 40% {
      transform: rotate(-13deg);
    }
  }
  
  .circle {
     width: 100px;
        height: 80px;
    position: absolute;
    border: 2px solid white;
    border-radius: 70%;
    border-color: transparent white;
    animation: ring 2s infinite linear both;
  }
  
  .second {
    animation-delay: .3s;
  }
  
  .third {
    animation-delay: .7s;
  }
  
  @keyframes ring{
    0%, 100% {
      opacity: 0; 
    }
    
    1% {
      opacity: 1;
    }
    
    50% {
      width: 250px;
      height: 250px;
      opacity: 0;
    }
  
  }

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

/* logo 종 움직임 */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(to bottom,#9796f0 0%,#ff686b 100%);
    padding: 10px;
    width: 45px;
    height: 45px;
  }
  
  .bellWrapper {
    font-size: 20px;
    color: var(--color-white);
  }
  
  .my-bell {
    transform-origin: top;
    animation: bell 2s infinite linear;
  }
  
  @keyframes bell{
    0%, 50%{
          transform: rotate(0deg);
      }
    5%, 15%, 25%, 35%, 45% {
      transform: rotate(13deg);
    }
    10%, 20%, 30%, 40% {
      transform: rotate(-13deg);
    }
  }
  
  .circle {
     width: 100px;
        height: 80px;
    position: absolute;
    border: 2px solid white;
    border-radius: 70%;
    border-color: transparent white;
    animation: ring 2s infinite linear both;
  }
  
  .second {
    animation-delay: .3s;
  }
  
  .third {
    animation-delay: .7s;
  }
  
  @keyframes ring{
    0%, 100% {
      opacity: 0; 
    }
    
    1% {
      opacity: 1;
    }
    
    50% {
      width: 250px;
      height: 250px;
      opacity: 0;
    }
  
  }

/* ===================== SIDEBAR ===================== */
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transform: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar .message-count, aside .sidebar .message-count.active {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ===================== MAIN ===================== */
main {
    position: relative;
    background: var(--color-background); 
    /* #ebe9e9 */
    width: 100%;
    padding: 1rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-title {
    color: var(--color-dark);
}

.top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.top button {
    display: none;
}

.top .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.top .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .theme-toggler span.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.top .profile {
    display: flex;
    gap: 1rem;
    text-align: right;
}

/* ===================== 회원정보수정란 ===================== */
main .imformation-update {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}

main .imformation-update h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px px rgba(128, 128, 128, 0.63);
}

main .imformation-update p {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 16px;
}

main table {
    background: var(--color-white);
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: var(--card-border-radius);
    padding: 1.8rem 5rem 1.8rem 5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    font-size: 14px;
}

main table:hover {
    box-shadow: none;
}

main table th {
    width: 40%;
    text-align: start;
}

main table td {
    height: 4rem;
    width: 50%;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-varient);
}

main table tr:last-child td {
    border: none;
}

main table input {
    color: var(--color-dark);
    background: transparent;
    padding-left: 15px;
    justify-content: start;
}

main table button {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-right: 20px;
    border-radius: var(--border-radius-1);
    width: 100px;
    outline: none;
    transition: 0.2s all;
}

main table button:hover {
    background: var(--color-white);
    opacity: 0.8;
    outline: black;
    color: var(--color-primary);
    box-shadow: var(--box-shadow)
}

/* ===================== 제출하기, 다시하기 button ===================== */
main .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    margin-top: 1.8rem;
}

.btn button {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-right: 20px;
    border-radius: var(--border-radius-2);
    width: 30%;
    height: 100%;
    outline: none;
    transition: 0.2s all;
    font-size: 1rem;
    font-weight: 700;
}

.btn button:hover {
    background: var(--color-white);
    opacity: 0.8;
    outline: black;
    color: var(--color-primary);
    box-shadow: var(--box-shadow)
}

/* main .btn :last-child:hover {
    background: var(--color-primary);
    opacity: 0.8;
    outline: black;
    color: var(--color-white);
    box-shadow: var(--box-shadow)
} */

/* 마이페이지 위에 탭 */
.tab-box {
    align-items: flex-start;
    margin-top: -18px;
}

.tab {
    color: var(--color-info-dark);
    margin-left: 0.5rem;
    gap: 1rem;
    width: 150px;
    align-items: center;
    position: relative;
    box-shadow: var(--box-shadow);
    height: 3.7rem;
    transition: all 200ms ease;
    border-top: 7px solid var(--color-primary);
}

.tab.active {
    background: #fff;
    color: var(--color-primary);
    margin-left: 0;
    border-top: 7px solid var(--color-primary);
}

.tab.active:before {
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

.tab:hover {
    color: var(--color-primary);
    border-top: 7px solid var(--color-primary);
    box-shadow: none;
    font-weight: 600;
}

/* 모달창 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: var(--color-white);
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 50%;
    height: 40;
    text-align: center;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-2);
    font-family: 'Noto Sans KR', sans-serif;
}

.modal-content h2 {
    margin-top: 1.8rem;
}

.modal-content strong {
    margin-top: 5rem;
    font-weight: 600;
    font-size: 1rem;
}

.modal-content p {
    margin-top: 1.8rem;
    font-size: 0.5rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.deleteBtn {
    background-color: #616BEE;
    color: #fefefe;
    font-size: 16px;
    padding: 7px;
    border-radius: 5px;
    width: 60%;
    margin-top: 1.8rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.deleteBtn:hover {
    background: var(--color-white);
    opacity: 0.8;
    outline: black;
    color: var(--color-primary);
    box-shadow: var(--box-shadow);
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

.disabledButton1 {
    opacity: 0.5; /* 투명도 조정 */
    cursor: not-allowed; /* 커서 변경 */
    /* 추가적인 스타일링 등 */
}

/* ===================== MEDIA QUERIES ===================== */
@media screen and (max-width: 1200px) {
    .container {
       width: 94%;
       grid-template-columns: 7rem auto;
    }

    aside .logo {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-order {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-order table { 
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }

    main table body td th:last-child,
    main table body td th:first-child {
        display: none;
    }

    /* main table */
    main table {
        padding: 1.8rem 2rem 1.8rem 4rem;
        font-size: 14px;
        width: 70%;
    }

    main table td input {
        display: flex;
        justify-content: start;
    }
    
}

@media screen and (max-width: 768px) {
    .container {
       width: 100%;
       grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    aside .top {
        width: 24px;
        height: 24px;
        left: -13px;
    }

    main {
        margin-top: 5rem;
        padding: 0 1rem;
    }

    main .recent-order {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-order table {
        width: 100%;
        margin: 0;
    }

    .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .top .profile .info {
        display: none;
    }

    .top button {
        display: inline-block;
        background: none;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .top button span {
        font-size: 2rem;
    }
    
    .header-wrapper {
        background: none;
    }

    .header-title h1 {
        display: none;
        /* position: absolute;
        top: 0;
        left: 12%;
        transform: translateY(-100px);
        z-index: 9999; */
    }

    main .imformation-update {
        margin-top: -1.5rem;
    }

    main .imformation-update h2 {
        margin-top: 2rem;
    }
    /* main table */
    main table {
        padding: 1.8rem 2rem 1.8rem 4rem;
        font-size: 14px;
        width: 70%;
    }

    /* 모달창 */
    .modal-content {
        margin: 25% auto;
        width: 75%; 
    }

}